// Home page every module title.
.index-title {
   font-size: 36px;
   letter-spacing: 0;
   color: #4e4e4e;
   text-align: center;
   margin: 0;
}

a {
   color: #1890ffe1;
}

.page, .sidebar {
   padding-top: 80px;
}

.sidebar {
   margin-left: 50px;
}

.page {
   margin-left: 4em;
}