<!DOCTYPE html>
<html>
<head>
    <title>项目 CGI 测试页面</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css">
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>项目 CGI 接口页面</h1>
        <p>这里罗列的是 matman 项目的 CGI 列表。</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>

    <div class="row">
        <div class="md-col-12">
            <div class="cgi-section">
                <h1>/cgi/get_mocker_list</h1>
                <p>获取某个 CGI 的所有的mocker module 模块</p>

                <form class="form-inline">
                    <div class="form-group">
                        <label for="cgiName">CGI地址: </label>
                        <input type="text" class="form-control" id="cgiName" placeholder="/cgi/xxx">
                    </div>
                    <button type="button" class="btn btn-primary test-btn">测试</button>
                </form>

                <hr />

                <textarea class="form-control logger" rows="3"></textarea>

            </div>
        </div>
    </div>
</div>


<script src="//cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>

<script>
    $(function () {
        $('.test-btn').on('click', function () {

            var jqWrapper = $(this).parents('.cgi-section');

            showLog(jqWrapper, { name: 'yy' });
        });

        function showLog(jqWrapper, val) {
            $('.logger', jqWrapper).val(typeof val === 'object' ? JSON.stringify(val) : val);
        }

    });


</script>

</body>
</html>
