.matman-layout {
  position: relative;
  height: 100%;
  min-height: 100%;

  .layout-main {
    margin-left: 224px;
    transition: all 0.3s ease;
  }

  .layout-container {
    margin: 24px 16px;
  }

  .layout-content {
    background: #fff;
    padding: 24px;
    min-height: 288px;
  }

  &.collapse {
    .layout-main {
      margin-left: 64px;
      transition: all 0.3s ease;
    }

    .layout-siderbar {
      width: 64px;
      transition: all 0.3s ease;

      .siderbar-logo {
        width: 32px;
        margin: 16px;
        transition: all 0.3s ease;
      }

      & > .ant-menu {
        & > .ant-menu-item {
          transition: all 0s ease;

          .nav-text {
            display: none;
          }

          & > .anticon {
            font-size: 16px;
            display: inline-block;
          }

          &:hover {
            background: #2db7f5;
            color: #fff;
            transition: all 0s ease;

            .nav-text {
              display: inline-block;
              vertical-align: top;
              background: #2db7f5;
              color: #fff;
              padding-right: 16px;
              border-radius: 0 5px 5px 0;
            }
          }
        }
      }

      .sidebar-action {
        width: 64px;
        transition: all 0.3s ease;
      }
    }
  }
}

